name: CI - PR ATF (Smoke)

on:
  pull_request:
    branches: [ develop, main ]  # あなたの運用に合わせて main でもOK

concurrency:
  group: sn-ci
  cancel-in-progress: true

jobs:
  atf:
    runs-on: ubuntu-latest
    steps:
      # 1) PRブランチの変更をCIインスタンスへ反映
      - name: Apply changes from Source Control
        uses: ServiceNow/sncicd-apply-changes@v1.0
        env:
          nowUsername: ${{ secrets.NOW_USERNAME }}
          nowPassword: ${{ secrets.NOW_PASSWORD }}
          nowSourceInstance: ${{ secrets.NOW_CI_INSTANCE }}
          #appSysID: ${{ secrets.APP_SYS_ID }}
          appScope:  ${{ secrets.APP_SCOPE }}
          # appScope を使う場合は appScope を渡す
          branch: ${{ github.head_ref }}

      # 2) ATF Suiteを実行
      - name: Run ATF suite
        uses: ServiceNow/sncicd-tests-run@v1.0
        with:
          testSuiteSysId: ${{ secrets.ATF_SUITE_SYS_ID }}
        env:
          nowUsername: ${{ secrets.NOW_USERNAME }}
          nowPassword: ${{ secrets.NOW_PASSWORD }}
          nowInstallInstance: ${{ secrets.NOW_CI_INSTANCE }}
