name: ec2-deploy

on:
  workflow_dispatch:   # 手動実行

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Launch EC2 instance
        run: |
          aws ec2 run-instances \
            --image-id ami-0c3fd0f5d33134a76 \
            --instance-type t2.micro \
            --key-name amazonlinux2 \
            --security-group-ids sg-04c3ba107fccafd1f \
            --subnet-id subnet-02f758aff62038e69 \
            --tag-specifications 'ResourceType=instance,Tags=[{Key=Name,Value=GitHubActionsEC2}]'
